@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1em;
      column-count: 3;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 64.5%;
}

@media screen and (max-width: 480px) {
  .container__ {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

@media screen and (max-width: 640px) {
  .container__ {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .container__ {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__ {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container__ {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media (min-width: 1200px) {
  .container__ {
    padding-left: 13% !important;
    padding-right: 13% !important;
  }
}

.bg-blur {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 14.06%,
    rgba(255, 255, 255, 0.8) 85.42%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(111px);
}

.title__h1 {
  font-size: 5.25rem !important;
  font-weight: bold;
  background: -webkit-linear-gradient(
    93.35deg,
    #b983de -2.66%,
    #5991f7 105.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
  line-height: 60px;
}

.title__h2 {
  font-size: 4.5rem !important;
  font-weight: 600 !important;
  color: #323232 !important;
  line-height: 50px !important;
}

.title__h3 {
  font-size: 2.6rem !important;
  font-weight: 600 !important;
  color: #5d90f6 !important;
}

.t-regular {
  font-size: 16px !important;
  color: #323232 !important;
}

.line__element {
  background: url('~/static/line.svg');
  width: 100%;
  height: 1.5px;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

p > a {
  text-decoration: underline !important;
  color: #2283f1 !important;
}


